body{
  background-image:url(../img/background.jpg);
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  font-family:'Open Sans','helvetica',arial,sans-serif;
  font-weight:300;
  color:#62686f;
}

.container{
  width:960px;
  margin:0 auto;
  margin-top:100px;
}

.main-header{
  padding:1px;
  text-align:center;
  background-image:url(../img/banner.jpg);
  color:#FFFFFF;
}

.main-header__avatar{
  display:block;
  margin:0 auto;
  margin-top:-70px;
  margin-bottom:10px;
  border:3px solid white;

  border-radius:55%;
  box-shadow:0 0 2px 1px rgba(0,0,0,0.2);
}

h1,h2,h3,h4,h5,h6{
  font-weight:300;
  text-shadow:0 1px rgba(0,0,0,0.3);
  color:#333;
}

.main-nav{
  background-color:#333;
}
.main-nav ul{
  list-style:none;
  padding:0;
  margin:0;
  text-align:center;
}

.main-nav ul li{
  margin:15px 10px;
  display:inline-block;
}
.main-nav ul li a{
  color:#fff;
  font-size:0.9em;
  font-weight:300;
  text-decoration:none;
  text-transform:uppercase;
}
.main-nav ul li a:hover{
  text-decoration:underline;
}

.info-section{
  background-color:#fff;
  padding:30px 60px;
}
.info-section header{
  margin-bottom:50px;
}

.info-section header h2{
  text-align:center;
  text-transform:uppercase;
}
.info-section header h2:after{
  border-bottom: 3px solid black;
  display: table;
  content: "";
  width: 50px;
  margin: 10px auto;
}
.whatido,
.photos{
  text-align:center;
}

.info-section__description{
  font-style:italic;
}

.whatido__skill-list{
  list-style:none;
  padding:0;
  margin:0;
}
.whatido__skill-list:after{
  content:'';
  clear:both;
  display:table;
}

.whatido__skill--code{
  background-image:url(../img/skill-code.png);
}
.whatido__skill--design{
  background-image:url(../img/skill-design.png);
}
.whatido__skill--product{
  background-image:url(../img/skill-product.png);
}
.whatido__skill{
  background-repeat:no-repeat;
  background-position:center top;
  padding-top:100px;
  float:left;
  width:33.3%;
}


.info-section ul{
  list-style:none;
  padding:0;
}

.education-experience__list img{
  width:180px;
  height:180px;
  float:left;
}
.education-experience__list li,
.education-experience__list article{
  overflow:hidden;
}
.education-experience__list li{
  margin-top:50px;
}
.education-experience__list article{
  padding-left:40px;
}

.photos ul{
  overflow:hidden;
}
.photos li{
  float:left;
  width:25%;
  padding:10px;
  box-sizing:border-box;
}
.photos li img{
  width:100%;
}


.get-in-touch ul{
  overflow:hidden;
}

.get-in-touch ul li{
  float:left;
  text-align:center;
  width:25%;
  padding:10px;
  box-sizing:border-box;
}

.contact form{
  width: 40%;
  margin: 0 auto;
}

.contact form div{
  position:relative;
}

.contact input,
.contact textarea{
  border:1px solid #ccc;
  border-radius:4px;
  box-sizing:border-box;
  margin:10px;
  width:100%;
  padding:8px;
}

.contact button{
  border:none;
  border-radius:999px;
  background:#ffd524;
  cursor:pointer;
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  color:#fff;
  box-shadow:0 3px 0 #daae1d;

  box-sizing:border-box;
  margin:10px;
  width:100%;
  padding:8px;
}

.contact form div label{
  position:absolute;
  width:100%;
  left:-100%;
  text-align:right;
  padding-top:16px;
}
